<h1>Welcome to the home page</h1>
<p>{{data1}}</p>
<br>
<button onclick="processClick('INIT')">Init</button>
<br>
<button onclick="processClick('ADD')">Add</button>
<table>
    <tr>
    <td> </td>
    <td><button onclick="processClick('UP')">^</button></td>
    <td> </td>
    </tr>
    <tr>
    <td><button onclick="processClick('LEFT')">&lt;</button></td>
    <td> </td>
    <td><button onclick="processClick('RIGHT')">&gt;</button></td>
    </tr>
    <tr>
    <td> </td>
    <td><button onclick="processClick('DOWN')">v</button></td>
    <td> </td>
    </tr>
</table>
<br>
<button onclick="processClick('ORIGINAL')">Original test</button>
<br>
<button onclick="processClick('{{data1}}')">{{data1}}</button>

{{! the page-specific java script.  The function called here: MyPost2 is in the shared file main.handlebars in the layouts folder}}
{{#section 'script'}}
<script>
function processClick(arg1) {
//alert(arg1);
//alert(document.baseURI);
var done=MyPost2(arg1, document.baseURI+'api/testpost');

//alert('after');

}
</script>
{{/section}}